<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/"><img src="/public/img/JEblog.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarhamb"
        aria-controls="navbarhamb" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarhamb">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
            </li>

            <% if (currentUser.role > 1) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpanelusers">Administrar usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpanel">Administrar articulos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cerrar-sesion">Salir</a>
                </li>

                <% } else { %>
                 


                <li class="nav-item">
                    <a class="nav-link" href="/ingresar">LogIn</a>
                </li>
                <% } %>
        </ul>
    </div>
</nav>