<main>
  <section class="login">
    <div class="login__header">
      <h2 class="login__title">
        INGRESAR
      </h2>
    </div>

    <div class="login__body">
      <form class="login__form">
        <div>
          <label class="sr-only" for="email">
            Email
          </label>

          <div class="input-group">
            <span class="input-group-prepend">
              <span class="input-group-text fas fa-envelope"></span>
            </span>

            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="email"
              placeholder="Email"
              autofocus
              required
            />
          </div>
        </div>

        <div>
          <label class="sr-only" for="email">
            Contraseña
          </label>

          <div class="input-group">
            <span class="input-group-prepend">
              <span class="input-group-text fas fa-lock"></span>
            </span>

            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Contraseña"
              required
            />
          </div>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            id="ckbRemember"
            type="checkbox"
            name="remember"
            value="remember"
          />

          <label class="form-check-label" for="ckbRemember">
            Recordarme
          </label>
        </div>

        <button class="btn btn-lg btn-primary">
          INGRESAR
        </button>
      </form>

      <div class="text-center w-100">
        <span class="">
          O ingresa con
        </span>
      </div>

      <a href="#" class="btn btn--facebook">
        <span class="fa fa-facebook-official"></span>
        Facebook
      </a>

      <a href="#" class="btn btn--google">
        <img src="img/icons/icon-google.png" alt="Google" />
        Google
      </a>
    </div>

    <div class="login__footer">
      <span class="">
        ¿No estás registrado?
      </span>

      <a class="" href="/admin/registro">
        ¡Únete ahora!
      </a>
    </div>
  </section>
</main>
