<div class="container">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<h1>Registrese llenando el formulario</h1>
			<form action="/registro" method="POST">
				<div class="form-group">
					<label for="firstname">Nombre</label>
					<input
						type="text"
						class="form-control"
						id="firstname"
						name="firstname"
					/>
				</div>
				<div class="form-group">
					<label for="lastname">Apellido</label>
					<input
						type="text"
						class="form-control"
						id="lastname"
						name="lastname"
					/>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name="email" />
				</div>
				<div class="form-group">
					<label for="password">Contraseña</label>
					<input
						type="password"
						class="form-control"
						id="password"
						name="password"
					/>
				</div>
				<button type="submit" class="btn btn-success">Registrarse</button>
			</form>
			<span>Si ya tiene una cuenta, ingrese aqui </span>
			<a href="/ingresar">Iniciar Sesion</a>
		</div>
		<div class="col-4"></div>
	</div>
</div>
