<!DOCTYPE html>
<html lang="en">
<%- include("partials/header") %>

<body>
  
  <div class="row">
    <div class="col-2">
      <%- include("partials/sidebar") %>
    </div>
    <div class="col-10 mt-5"><%- include("partials/articulos") %></div>
  </div>

</body>

</html>